<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Travel - Bhaccasyoniztas Beach Resort</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}

			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Travel</h1>
							<ul id="sites">
								<li>
									<a href="/travel"><img src="/images/reef1.jpg" alt="Img"></a>
									<h2><a href="/travel">Gale Reef</a></h2>
									<p>Sed et augue lorem. In sit amet placerat arcu...</p>
								</li>
								<li>
									<a href="/travel"><img src="/images/reef2.jpg" alt="Img"></a>
									<h2><a href="/travel">Dawson’s Reef</a></h2>
									<p>Integer magna leo, posuere et dignissim vitae...</p>
								</li>
								<li>
									<a href="/travel"><img src="/images/reef3.jpg" alt="Img"></a>
									<h2><a href="/travel">Claire’s REEF</a></h2>
									<p>Donec sed felis risus. Nulla facilisi...</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			{{> footer }}
		</div>
	</div>
</body>
</html>